

* {
	box-sizing: border-box;
}

header {
	height: 80px;
	width: 100%;
	background-color: rgba(32, 174, 255, 0.9);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
}

a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.logo {
	margin-left: -60px;
	padding-top: 2px;
}

.gambar img {
	height: 323px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	margin-right: -60px;
}

.header-right a {
	line-height: 80px;	
	font-family: verdana;
	font-size: 20px;
	padding: 0 20px;
	color: white;
	display: block;
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.judul-konten {
	padding: 100px 0 30px 0;
	font-family: helvetica;
	text-align: center;
}

.isi-konten {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.anime {
	float: left;
	width: 30%;
	margin-bottom: 25px;
	border: #f0f0f0 1px solid;
	margin-left: 10px;
    margin-right: 4px;
}

.judul {
	display: table-cell;
    height: 75px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 30%;
}

.text-judul {
	font-family: helvetica;
	color: #000;
	font-size: 15px;
    font-weight: 700;
    padding: 0 20px;
}


footer {
	padding-top: 10px;
	text-align: center;
}

footer p {
	margin-top: -12px;
	font-family: verdana;
}